<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <header id="header" th:fragment="header">
      <h1>
		<img src="/image/kg_logo.png" width="100px">
		KG EDUONE Site
	  </h1>
      <div th:if="${loginId == null}">
         <a th:href="@{/member/loginForm}">로그인</a>
         <a th:href="@{/member/joinMemberForm}">회원가입</a>
      </div>
      <div th:unless="${loginId == null}">
         <a th:href="@{/member/detailMember(id=${loginId})}" th:text="${loginId}"></a>
         <a th:href="@{/member/logout}">로그아웃</a>
      </div>
   </header>
</html>